.chart-container {
  position: relative;
  width: 100%;
  height: 80%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  color: #9E4CAA;
  font-weight: bold;
  font-size: 24px;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #9E4CAA transparent;
}
/* WebKit (Chrome, Edge, Safari) */
.chart-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.chart-container::-webkit-scrollbar-track {
  background: transparent;
}

.chart-container::-webkit-scrollbar-thumb {
  background-color: #9E4CAA;
  border-radius: 4px;
  border: none;
}

/* Aquesta part és clau per eliminar les fletxes completament */
.chart-container::-webkit-scrollbar-button:single-button {
  display: block;
  height: 0;
  width: 0;
  background: transparent;
  border: none;
}
